.blog-topbar {
  padding: 0 36px;
  top: 80px;
  left: 0;
  z-index: 1;
  @include desktop {
    display: block;
  }
  .topbar-list li a {
    padding: 13px 24px;
    &:hover {
      background: $primary;
      transition: .3s;
    }
  }
  .topbar-icon {
    padding: 16px;
  }
  .topbar-icon i:hover {
    @include scaleEffect;
  }
  .topbar-active {
    background: $primary;
  }
}

.blog-wrap {
  padding: 40px 0 64px;
  @include desktop {
    padding: 136px 0 80px;
  }
  .blog-title {
    border-left: 8px solid $primary;
    padding-left: 8px;
    @include pad {
      font-size: 36px;
      margin-bottom: 32px;
    }
    @include desktop {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }
}
.blog-list {
  @include pad {
    margin-bottom: 80px;
  }
  @include desktop-lg {
    margin-bottom: 124px;
  }
}
.blog-item {
  @include desktop {
    display: flex;
    justify-content: space-between;
  }
  .item-img {
    @include desktop {
      width: 49%;
      margin-bottom: 0;
    }
  }
  .item-content {
    @include desktop {
      width: 49%;
    }
    @include desktop-lg {
      display: flex;
      flex-direction: column;
    }
  }
  .item-title .title-group h3 {
    @include desktop-lg {
      font-size: 32px;
    }
  }
  .item-title .title-group h4 {
    @include desktop-lg {
      font-size: 20px;
    }
  }
  .item-description {
    color: #555;
    text-align: justify;
    @include desktop {
      margin-top: 4px;
      display: block;
    }
    @include desktop-lg {
      margin-top: 16px;
      font-size: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .item-description .more {
    &:hover {
      color: $primary;
    }
    @include desktop-lg {
      display: none;
    }
  }
  .item-description .more-desktop {
    @include desktop-lg {
      display: inline-block;
      align-self: end;
      line-height: 1;
      &:hover {
        color: $primary;
      }
    }
  }
}
