.product-topbar {
  ul {
    @include desktop-lg {
      max-width: 1296px;
    }
  }
  li {
    width: 33.3333%;
    border: 1px solid $gray-light;
  }
  a {
    padding: 16px 0 8px;
    @include pad {
      font-size: 24px;
    }
    @include desktop-lg {
      font-size: 32px;
      padding: 24px 0 16px;
    }
    &:hover {
      border-bottom: 8px solid $primary;
    }
  }
  .active {
    border-bottom: 8px solid $primary;
  }
}

.product-header {
  li {
    width: 50%;
    height: 136px;
    overflow: hidden;
    @include desktop {
      height: 296px;
    }
  }
  img {
    object-fit: cover;
    height: 100%;
  }
  .optical-img-sm {
    @include desktop-lg {
      display: none;
    }
  }
  .optical-img {
    @include desktop-lg {
      display: block;
    }
  }
}

.product-wrap {
  padding: 40px 0 64px;
  @include desktop {
      padding: 80px 0;
  }
  .product-title-group {
    @include pad {
      margin-bottom: 32px;
      font-size: 32px;
    }
  }
  .product-title {
    @include desktop {
      font-size: 42px;
    }
  }
}
.card-color-item {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

// page-op
.product-op-list {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 56px;
  }
  @include desktop-lg {
    margin-bottom: 0;
  }
  .product-op-card {
    overflow: hidden;
    @include pad {
      margin-bottom: 40px;
    }
    @include desktop {
      width: 48.5%;
    }
    @include desktop-lg {
      width: 23.5%;
      margin-bottom: 80px;
    }
  }
  .product-op-card img {
    width: 100%;
    &:hover {
      opacity: .8;
    }
  }
  .d-mobile-none {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .d-pad-none {
    @include desktop {
      display: none;
    }
    @include desktop-lg {
      display: block;
    }
  }
}

// page-sg
.product-sg-list {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include desktop-lg {
    margin-bottom: 0;
  }
  .product-sg-card {
    overflow: hidden;
    @include pad {
      margin-bottom: 40px;
    }
    @include desktop {
      width: 48.5%;
    }
    @include desktop-lg {
      width: 32%;
      margin-bottom: 80px;
    }
  }
  .product-sg-card img {
    width: 100%;
    &:hover {
      opacity: .8;
    }
  }
  .d-mobile-none {
    display: none;
    @include desktop {
      display: block;
    }
  }
  .d-pad-none {
    @include desktop {
      display: none;
    }
    @include desktop-lg {
      display: block;
    }
  }
}