@mixin textHide {
  display: inline-block;
  white-space: nowrap;
  text-indent: 101%;
  overflow: hidden;
}

@mixin floatEffect {
  transform: translate(-3px, -3px);
  transition: .3s;
}
@mixin scaleEffect {
  transform: scale(110%);
  transition: .3s;
}


// responsive
@mixin pad {
  @media (min-width: 576px) { // 375px 看起來太擠 
    @content;
  }
}
@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop-lg {
  @media (min-width: 992px) {
    @content;
  }
}